/** @format */

.vn-login-register.login {
  height: 457px;
}

.vn-login-register {
  background: rgb(173, 168, 159);
  border: 1px solid #ababab;
  box-sizing: border-box;
  border-radius:20px;
  text-align: center;
  width: 570px;

  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn.social-login {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-auto-flow: column;
  position: relative;
  padding: 10px 9px;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  border-radius: 57px;
  height: 51px;
}

.vn-login-register h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.vn-login-register h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.vn-login-register h5 a {
  margin-left: 5px;
  text-decoration: underline;
  text-decoration-color: #a0c9ff;
  color: var(--primary);
}

.vn-login-register.register {
  align-items: stretch;
  text-align: left;
}

.vn-login-register.register .form-control,
.vn-login-register.register .form-control::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.vn-login-register.register .form-control {
  border: none;
  border-bottom: 1px solid #c5c5c5;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.vn-login-register.register .btn.btn-primary {
  border-radius: 0;
  width: 100%;
  margin-top: 30px;
}

.vn-login-register.register .form-group {
  margin-bottom: 25px;
}
