/** @format */

:root {
  --default: #000;
  --primary: #3f90fc;
  --yellow: #ffbd3e;
  --orange: #ff7044;
  --blue: #421fcf;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--default);
  background: #FFFFFF;
  position: relative;
}
